.floating-circle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #007BFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 800;
}

.floating-circle img {
    width: 50px;
    height: 50px;
}

.chat-container {
    position: fixed;
    z-index: 801;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 750px;
    height: 600px;
    border: 2px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.chat-sidebar {
    width: 35%;
    background-color:#F7FAFC;
    display: flex;
    flex-direction: column;
    padding: 10px 7px 10px 7px;
    border-right: 2px solid #E0E0E0;
}

.chat-room-list {
    list-style-type: none;
    padding: 0;
    flex: 1;
    overflow-y: auto;
}

.chat-room-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #CCCCCC;
    transition: background-color 0.3s, color 0.3s;
    color: #333;
    cursor: pointer;
    justify-content: space-between;
}

.chat-room-item:hover {
    background-color: #f0f0f0;
}

.chat-room-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    object-fit: cover;
}

.chat-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.chat-room-name {
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.chat-room-last-message {
    font-size: 12px;
    color: #777;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-room-timestamp {
    font-size: 12px;
    color: #999;
    text-align: right;
    margin-left: 10px;
    white-space: nowrap;
}

.chat-main {
    width: 65%;
    display: flex;
    flex-direction: column;
    background-color: #F7FAFC;
    padding-bottom: 7px;
}


.current-chat-room {
    position: relative;
    padding: 5px;
    border-bottom: 2px solid #E0E0E0;
    color: #333;
    background-color: #F7FAFC;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.chatRoomHidden {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #666;
}

.chat-window {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #F7FAFC;

}

.message-area {
    display: flex;
    flex-direction: column;
}

.message-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 70%;
}

.message-wrapper.right {
    margin-left: auto;
}

.message {
    padding: 8px 15px;
    margin-bottom: 5px;
    background-color: #FFFFFF;
    color: #333;
    border-radius: 15px;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 1.2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.message.background{
    background-color: #EBF4FF
}

.timestamp {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
    margin-bottom: 10px;
}

.timestamp.time-right{
    margin-left: auto;
}

.chat-input {
    width: 97%;
    margin: auto;
    display: flex;
    padding: 7px 5px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid #e9ecef;
}

.chat-input input {
    flex: 1;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    margin-right: 5px;
    background-color: white;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

.chat-input input:focus {
    border-color: #4A90E2;
}

.chat-avatar{
    object-fit: cover;
}

/*.chat-input button {*/
/*    padding: 12px 12px;*/
/*    background-color: #4A90E2;*/
/*    color: white;*/
/*    border: none;*/
/*    border-radius: 10px;*/
/*    cursor: pointer;*/
/*    margin-left: 10px;*/
/*    font-size: 16px;*/
/*    transition: background-color 0.3s;*/
/*}*/

/*.chat-input button:hover {*/
/*    background-color: #3a78bb;*/
/*}*/

.chatRoomHidden img {
    margin-top: 3px;
    width: 23px;
    height: 23px;
}

#createContractBtn {
    cursor: pointer;
    margin-right: 5px;
    padding: 3px 5px;
    border-radius: 3px;
}


#createContractBtn img{
    width: 28px;
    height: 28px;
}

.floating-circle.new-message {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        transform: scale(1);
        filter: brightness(1.1) saturate(1.2) contrast(1);
    }
    50% {
        transform: scale(1.1);
        filter: brightness(1.2) saturate(1.5) contrast(1.05);
    }
    100% {
        transform: scale(1);
        filter: brightness(1.1) saturate(1.2) contrast(1);
    }
}

@media (max-width: 768px) {
    .chat-container {
        width: 100%;
        height: 100%;
        bottom: 0;
        right: 0;
        border-radius: 0;
    }

    .chat-sidebar {
        width: 100%;
        padding: 10px;
    }

    .chat-main {
        width: 100%;
    }

    .chat-room-item {
        padding: 8px;
    }

    .chat-room-avatar {
        width: 30px;
        height: 30px;
    }

    .chat-room-name {
        font-size: 14px;
    }

    .chat-room-last-message {
        font-size: 12px;
    }

    .chat-room-timestamp {
        font-size: 10px;
    }

}





